.card{



margin: 30px;
display: inline-block;
justify-content: space-between;}

.img{
display: block;

}
.words{
display: flex;

}
.card2{
display: flex;

}



.card2{

    margin: auto;
    display: flex;
}

